DJANGO_SECRET_KEY=django-insecure-change-this-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=quizmaster_db
POSTGRES_USER=quizmaster_user
POSTGRES_PASSWORD=quizmaster_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
